.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  background-color: #212529;
  color: #eee !important;
  overflow-x: hidden;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  padding: 10px 0;
}


/* Class */
.navBar {
  width: 100% !important;
  background-color: #282c34 !important;
  color: white !important;
  padding:10px 50px;
}
.a, .a2{
  color: #fff;
  margin-left: 10px;
}
.a2:hover{
  color: #fff;
}
.links {
height: 0;
overflow: hidden;
list-style-type: none;
}
.links a{
  text-decoration: none;
  color: #fff;
}
.a:hover{
  color: #61dafb;
  text-decoration: underline;
  padding: 5px;
  font-size: 18px;
}
.show-nav {
  height: 120px;
}

#graph{
  margin: 20px;
}

#button{
  margin:10px 0px 0px 180px;
}
#button1{
  margin: 10px;
}
#table{
  margin:20px 180px;
  border-radius: 20px !important ;
}
th, td{
  background-color: #282c34 !important;
}
.card-footer{
  background-color: #111;
  text-align: center;
  padding: 20px;
}
.img{
  width: 100px;
}
#graph{
  color: #fff !important;
  background-color: #282c34 !important;
  margin:30px 180px;
  padding: 10px;
  border-radius: 10px;
}